<h2>{{games.length}} games</h2>

<div class="btn-group players filter" data-toggle="buttons">
    <h4>Players</h4>
    <label class="btn btn-primary {{singleChecked:active}}">
        {{radio-button
            value="single"
            groupValue=players
            changed="playersChanged"
        }}
        Single
    </label>
    <label class="btn btn-primary {{bothChecked:active}}">
        {{radio-button
            value="both"
            groupValue=players
            changed="playersChanged"
        }}
        Any
    </label>
    <label class="btn btn-primary {{multiChecked:active}}">
        {{radio-button
            value="multi"
            groupValue=players
            changed="playersChanged"
        }}
        Multi
    </label>
</div>

{{yield}}
