<h2 class="filter-header">{{games.length}} games</h2>

<div class="filter">
  <div class="btn-group players" data-toggle="buttons">
    <label class="btn btn-primary {{if singleChecked 'active'}}">
      <input type="checkbox" id="singlePlayer" checked={{singleChecked}} onchange={{action "clickPlayers" "single"}} value="target.value"> Single
    </label>
    <label class="btn btn-primary {{if multiChecked 'active'}}">
      <input type="checkbox" id="multiPlayer" checked={{multiChecked}} onchange={{action "clickPlayers" "multi"}} value="target.value"> Multiplayer
    </label>
    <label class="btn btn-primary {{if coopChecked 'active'}}">
      <input type="checkbox" id="coop" checked={{coopChecked}} onchange={{action "clickPlayers" "coop"}} value="target.value"> Co-op
    </label>
  </div>
</div>

<div class="filter played">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary {{if unplayedChecked 'active'}}">
      <input type="checkbox" id="unplayed" checked={{unplayedChecked}} onchange={{action "clickPlayed" false}}> Unplayed
    </label>
    <label class="btn btn-primary {{if playedChecked 'active'}}">
      <input type="checkbox" id="played" checked={{playedChecked}} onchange={{action "clickPlayed" true}}> Played
    </label>
  </div>
</div>

<div class="filter controller">
  <label class="checkbox-inline">
    <input type="checkbox" data-toggle="toggle" checked={{filters.controller}} onchange={{action "clickController"}}>
  </label>
</div>

<div class="filter star">
  <label class="checkbox-inline">
    <input type="checkbox" data-toggle="toggle" checked={{filters.starred}} onchange={{action "clickStarred"}}>
  </label>
</div>

<div class="filter tags">
  <h4>Tags</h4>
  {{#power-select-multiple
      options=tags
      selected=filters.tags
      onchange=(action filterTag)
      renderInPlace=true
      as |tag|}}
    {{tag}}
  {{/power-select-multiple}}
</div>

