<h2 class="filter-header">{{games.length}} games</h2>

<div class="filter">
    <h4>Players</h4>
    <div class="btn-group players" data-toggle="buttons">
        <label class="btn btn-primary {{singleChecked:active}}" {{action "playersChanged" "single"}}>
            <input type="checkbox" id="singlePlayer"> Single
        </label>
        <label class="btn btn-primary {{multiChecked:active}}" {{action "playersChanged" "multi"}}>
            <input type="checkbox" id="multiPlayer"> Multi
        </label>
        <label class="btn btn-primary {{coopChecked:active}}" {{action "playersChanged" "coop"}}>
            <input type="checkbox" id="coop"> Co-op
        </label>
    </div>
</div>

<div class="filter played">
    <h4>Played</h4>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary {{unplayedChecked:active}}" {{action "playedChanged" false}}>
            <input type="checkbox" id="unplayed"> No
        </label>
        <label class="btn btn-primary {{playedChecked:active}}" {{action "playedChanged" true}}>
            <input type="checkbox" id="played"> Yes
        </label>
    </div>
</div>

<div class="filter controller">
    <h4>Controller</h4>
    <label class="checkbox-inline" {{action "controllerChanged"}}>
          <input type="checkbox" data-toggle="toggle">
    </label>
</div>

