<h2 class="filter-header">{{games.length}} games</h2>

<div class="filter">
    <h4>Players</h4>
    <div class="btn-group players" data-toggle="buttons">
        <label class="btn btn-primary {{singleChecked:active}}" {{action "playersChanged" "single"}}>
            <input type="checkbox" id="singlePlayer"> Single
        </label>
        <label class="btn btn-primary {{multiChecked:active}}" {{action "playersChanged" "multi"}}>
            <input type="checkbox" id="multiPlayer"> Multi
        </label>
    </div>
</div>

<div class="filter played">
    <h4 class="inline">Controller</h4>
    <label class="checkbox-inline" {{action "controllerChanged"}}>
          <input type="checkbox" data-toggle="toggle">
    </label>
</div>

