<div class="thumbnail game-card {{stateClass}}" id="game{{game.appid}}">
  <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{game.appid}}/header.jpg" alt="{{game.name}}">
  <div class="caption" data-id="{{game.appid}}">
    <div class="header clearfix">
      <div class="pull-left name">
        <h3><div>{{game.name}}</div></h3>
      </div>
      <div class="pull-right players">
        <h3>
          <div>
            {{#each game.playersIcon as |icon|}}
              <i class="players-icon fa {{icon}}" />
            {{/each}}
          </div>
        </h3>
      </div>
    </div>
    <div class="description {{stateClass}}">
      {{{game.description}}}
    </div>
    <div class="tags {{stateClass}}">
      {{#each tags as |tag| }}
      <span class="label label-default" {{action 'addTag' tag}}>{{tag}}</span>
      {{/each}}
    </div>
    <div class="expand">
      <button class="btn btn-default btn-xs expand" {{action 'toggleExpand' game.appid}}>
        <i class="fa {{expandClass}}" />
      </button>
    </div>
    <div class="links row">
      <div class="col-md-3 play text-center">
        <a href="steam://run/{{game.appid}}" target="play" class="play btn btn-default"><i class="fa fa-play" /></a>
      </div>
      <div class="col-md-3 star text-center">
        <button class="btn btn-default" {{action 'toggleStar'}}>
          <i class="fa {{starClass}}" />
        </button>
      </div>
      <div class="col-md-3 hidden-game text-center">
        <button class="btn btn-default" {{action 'toggleHide'}} >
          <i class="fa {{hideClass}}"/>
        </button>
      </div>
      <div class="col-md-3 store text-center">
        <a href="{{game.url}}" target="store" class="store btn btn-default"><i class="fa fa-shopping-cart" /></a>
      </div>
    </div>
  </div>
</div>
